.wrapper {
  padding: 5px 20px;
  background-color: rgba(24, 24, 24, 0.8);
  z-index: 20;
  position: fixed;

  top: 10px;
  left: 20px;
  border-radius: 8px;

  color: white;
  font-weight: bold;

  transition: all 1s linear;
}
